<div class="span4 offset4 well">
    <h2>You Are Subscribed To:</h2>
    @foreach (var user in ViewBag.SubscribedUsers)
    {
        <p style="text-align:center;">
            @Html.ActionLink((string)user.Value, "ViewCookbook", "Cookbook", new { userId = user.Key }, new { })
        </p>
    }
</div>

