<div class="container">
    <div class="row-fluid recipeObject">
        <div class="span4 offset2 recipeLeftSide">
            <img src="http://newyork.cities2night.com/public/article_images/1281.jpg" class="recipeImage" />
            <h4>@@Username</h4>
        </div>
        <div class="span4 recipeRightSide" style="margin-left: 0px;">
            <h4 class="recipeTitle">Tasty Burger</h4>
            <p><strong>Ingredients:</strong></p>
            <p>Beef Patty, Hamburger Buns, Tomatoes, Onions, Ketchup</p>
            <p><strong>Instructions:</strong></p>
            <ol>
                <li>
                    Preheat an outdoor grill for medium high heat and lightly oil grate.
                </li>
                <li>
                    Add patties to the grill and flip sides after it turns dark brown.
                </li>
                <li>
                    Once the remaining side is dark brown, take it off and place on a bun.
                </li>
                <li>
                    Add cut tomatoes, onions, and ketchup on top of patty, and place other bun on top.
                </li>
            </ol>
        </div>
    </div>
    <div class="row-fluid recipeObject">
        <div class="span4 offset2 recipeLeftSide">
            <img src="http://newyork.cities2night.com/public/article_images/1281.jpg" class="recipeImage" />
            <h4>@@Username</h4>
        </div>
        <div class="span4 recipeRightSide" style="margin-left: 0px;">
            <h4 class="recipeTitle">Tasty Burger</h4>
            <p><strong>Ingredients:</strong></p>
            <p>Beef Patty, Hamburger Buns, Tomatoes, Onions, Ketchup</p>
            <p><strong>Instructions:</strong></p>
            <ol>
                <li>
                    Preheat an outdoor grill for medium high heat and lightly oil grate.
                </li>
                <li>
                    Add patties to the grill and flip sides after it turns dark brown.
                </li>
                <li>
                    Once the remaining side is dark brown, take it off and place on a bun.
                </li>
                <li>
                    Add cut tomatoes, onions, and ketchup on top of patty, and place other bun on top.
                </li>
            </ol>
        </div>
    </div>
    <div class="row-fluid recipeObject">
        <div class="span4 offset2 recipeLeftSide">
            <img src="http://newyork.cities2night.com/public/article_images/1281.jpg" class="recipeImage" />
            <h4>@@Username</h4>
        </div>
        <div class="span4 recipeRightSide" style="margin-left: 0px;">
            <h4 class="recipeTitle">Tasty Burger</h4>
            <p><strong>Ingredients:</strong></p>
            <p>Beef Patty, Hamburger Buns, Tomatoes, Onions, Ketchup</p>
            <p><strong>Instructions:</strong></p>
            <ol>
                <li>
                    Preheat an outdoor grill for medium high heat and lightly oil grate.
                </li>
                <li>
                    Add patties to the grill and flip sides after it turns dark brown.
                </li>
                <li>
                    Once the remaining side is dark brown, take it off and place on a bun.
                </li>
                <li>
                    Add cut tomatoes, onions, and ketchup on top of patty, and place other bun on top.
                </li>
            </ol>
        </div>
    </div>
    <div class="row-fluid recipeObject">
        <div class="span4 offset2 recipeLeftSide">
            <img src="http://newyork.cities2night.com/public/article_images/1281.jpg" class="recipeImage" />
            <h4>@@Username</h4>
        </div>
        <div class="span4 recipeRightSide" style="margin-left: 0px;">
            <h4 class="recipeTitle">Tasty Burger</h4>
            <p><strong>Ingredients:</strong></p>
            <p>Beef Patty, Hamburger Buns, Tomatoes, Onions, Ketchup</p>
            <p><strong>Instructions:</strong></p>
            <ol>
                <li>
                    Preheat an outdoor grill for medium high heat and lightly oil grate.
                </li>
                <li>
                    Add patties to the grill and flip sides after it turns dark brown.
                </li>
                <li>
                    Once the remaining side is dark brown, take it off and place on a bun.
                </li>
                <li>
                    Add cut tomatoes, onions, and ketchup on top of patty, and place other bun on top.
                </li>
            </ol>
        </div>
    </div>
    <div class="row-fluid recipeObject">
        <div class="span4 offset2 recipeLeftSide">
            <img src="http://newyork.cities2night.com/public/article_images/1281.jpg" class="recipeImage" />
            <h4>@@Username</h4>
        </div>
        <div class="span4 recipeRightSide" style="margin-left: 0px;">
            <h4 class="recipeTitle">Tasty Burger</h4>
            <p><strong>Ingredients:</strong></p>
            <p>Beef Patty, Hamburger Buns, Tomatoes, Onions, Ketchup</p>
            <p><strong>Instructions:</strong></p>
            <ol>
                <li>
                    Preheat an outdoor grill for medium high heat and lightly oil grate.
                </li>
                <li>
                    Add patties to the grill and flip sides after it turns dark brown.
                </li>
                <li>
                    Once the remaining side is dark brown, take it off and place on a bun.
                </li>
                <li>
                    Add cut tomatoes, onions, and ketchup on top of patty, and place other bun on top.
                </li>
            </ol>
        </div>
    </div>
    <div class="row-fluid recipeObject">
        <div class="span4 offset2 recipeLeftSide">
            <img src="http://newyork.cities2night.com/public/article_images/1281.jpg" class="recipeImage" />
            <h4>@@Username</h4>
        </div>
        <div class="span4 recipeRightSide" style="margin-left: 0px;">
            <h4 class="recipeTitle">Tasty Burger</h4>
            <p><strong>Ingredients:</strong></p>
            <p>Beef Patty, Hamburger Buns, Tomatoes, Onions, Ketchup</p>
            <p><strong>Instructions:</strong></p>
            <ol>
                <li>
                    Preheat an outdoor grill for medium high heat and lightly oil grate.
                </li>
                <li>
                    Add patties to the grill and flip sides after it turns dark brown.
                </li>
                <li>
                    Once the remaining side is dark brown, take it off and place on a bun.
                </li>
                <li>
                    Add cut tomatoes, onions, and ketchup on top of patty, and place other bun on top.
                </li>
            </ol>
        </div>
    </div>
    <div class="row-fluid recipeObject">
        <div class="span4 offset2 recipeLeftSide">
            <img src="http://newyork.cities2night.com/public/article_images/1281.jpg" class="recipeImage" />
            <h4>@@Username</h4>
        </div>
        <div class="span4 recipeRightSide" style="margin-left: 0px;">
            <h4 class="recipeTitle">Tasty Burger</h4>
            <p><strong>Ingredients:</strong></p>
            <p>Beef Patty, Hamburger Buns, Tomatoes, Onions, Ketchup</p>
            <p><strong>Instructions:</strong></p>
            <ol>
                <li>
                    Preheat an outdoor grill for medium high heat and lightly oil grate.
                </li>
                <li>
                    Add patties to the grill and flip sides after it turns dark brown.
                </li>
                <li>
                    Once the remaining side is dark brown, take it off and place on a bun.
                </li>
                <li>
                    Add cut tomatoes, onions, and ketchup on top of patty, and place other bun on top.
                </li>
            </ol>
        </div>
    </div>
    <div class="row-fluid recipeObject">
        <div class="span4 offset2 recipeLeftSide">
            <img src="http://newyork.cities2night.com/public/article_images/1281.jpg" class="recipeImage" />
            <h4>@@Username</h4>
        </div>
        <div class="span4 recipeRightSide" style="margin-left: 0px;">
            <h4 class="recipeTitle">Tasty Burger</h4>
            <p><strong>Ingredients:</strong></p>
            <p>Beef Patty, Hamburger Buns, Tomatoes, Onions, Ketchup</p>
            <p><strong>Instructions:</strong></p>
            <ol>
                <li>
                    Preheat an outdoor grill for medium high heat and lightly oil grate.
                </li>
                <li>
                    Add patties to the grill and flip sides after it turns dark brown.
                </li>
                <li>
                    Once the remaining side is dark brown, take it off and place on a bun.
                </li>
                <li>
                    Add cut tomatoes, onions, and ketchup on top of patty, and place other bun on top.
                </li>
            </ol>
        </div>
    </div>
    <div class="row-fluid recipeObject">
        <div class="span4 offset2 recipeLeftSide">
            <img src="http://newyork.cities2night.com/public/article_images/1281.jpg" class="recipeImage" />
            <h4>@@Username</h4>
        </div>
        <div class="span4 recipeRightSide" style="margin-left: 0px;">
            <h4 class="recipeTitle">Tasty Burger</h4>
            <p><strong>Ingredients:</strong></p>
            <p>Beef Patty, Hamburger Buns, Tomatoes, Onions, Ketchup</p>
            <p><strong>Instructions:</strong></p>
            <ol>
                <li>
                    Preheat an outdoor grill for medium high heat and lightly oil grate.
                </li>
                <li>
                    Add patties to the grill and flip sides after it turns dark brown.
                </li>
                <li>
                    Once the remaining side is dark brown, take it off and place on a bun.
                </li>
                <li>
                    Add cut tomatoes, onions, and ketchup on top of patty, and place other bun on top.
                </li>
            </ol>
        </div>
    </div>
    <div class="row-fluid recipeObject">
        <div class="span4 offset2 recipeLeftSide">
            <img src="http://newyork.cities2night.com/public/article_images/1281.jpg" class="recipeImage" />
            <h4>@@Username</h4>
        </div>
        <div class="span4 recipeRightSide" style="margin-left: 0px;">
            <h4 class="recipeTitle">Tasty Burger</h4>
            <p><strong>Ingredients:</strong></p>
            <p>Beef Patty, Hamburger Buns, Tomatoes, Onions, Ketchup</p>
            <p><strong>Instructions:</strong></p>
            <ol>
                <li>
                    Preheat an outdoor grill for medium high heat and lightly oil grate.
                </li>
                <li>
                    Add patties to the grill and flip sides after it turns dark brown.
                </li>
                <li>
                    Once the remaining side is dark brown, take it off and place on a bun.
                </li>
                <li>
                    Add cut tomatoes, onions, and ketchup on top of patty, and place other bun on top.
                </li>
            </ol>
        </div>
    </div>
</div>
